.env
config/development.env
*.db
.venv/
*.code-workspace
*.txt
__pycache__/
.pytest_cache/
.mypy_cache/
.ruff_cache/
htmlcov/
dist/
*.egg-info/
.coverage
.DS_Store
config/sources.yaml
config/sources_original.yaml
